* {
    box-sizing: border-box;
  }
  :root{
      --hue: #6a6969;
      --saturation: 70%;
      --lightness: 55%;
      --main-color: hsl(var(--hue),var(--saturation),var(--lightness));
      --text-white: hsl(0,0%,100%);
      --text-light-grey: hsl(0,0%,96%);
      --text-x-dark-grey: hsl(0,0%,10%);
      --text-green:rgba(173, 250, 173, 0.014);
      --body-bg-color: hsl(var(--hue), 60%, 94%);
      --bg-color: hsl(var(--hue),60%,96%);
      --bg-green: rgba(250, 250, 253, 0.959);
      --border-color: hsl(var(--hue),48%,80%);
  }
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .h1{
      text-transform: uppercase;
      color: var(--bg-green);
      text-align: center;
  }
  .content {
    position: fixed;
    bottom: 0;
    background-color: var(--main-color);
    color: var(--text-white);
    width: 100%;
    padding: 20px;
  }
  
  #myBtn1 {
      display: inline-block;
      padding: 10px 28px;
      background-color:var(--text-white) ;
      color: var(--text-x-dark-grey);
      font-weight: 500;
      font-size: var(--fs-md);
      text-transform: capitalize;
      line-height: 1.5;
      font-family: inherit;
      border: 2px solid transparent;
      border-radius: 30px;
      user-select: none;
      transition: all 0.3s ease;
  }
  
  #myBtn1:hover {
      color: var(--text-white);
      border-color: var(--text-x-dark-grey);
     background-color: transparent;
  }
  #p1{
    text-align: center;
    text-transform: capitalize;
  }
